net 'c_in' loc='H13';
net 'a[5]' loc='R17';
net 'a[4]' loc='N17';
net 'a[3]' loc='L13';
net 'a[2]' loc='L14';
net 'a[1]' loc='K17';
net 'a[0]' loc='K18';
net 'b[5]' loc='H18';
net 'b[4]' loc='G18';
net 'b[3]' loc='E18';
net 'b[2]' loc='D18';
net 'b[1]' loc='B18';
net 's[7]' loc='R4';
net 's[6]' loc='F4';
net 's[5]' loc='P15';
net 's[4]' loc='E17';
net 's[3]' loc='K14';
net 's[2]' loc='K15';
net 's[1]' loc='J15';
net 's[0]' loc='J14';
